@charset "utf-8";

ul,
ol,
dl {
  list-style: none;
  padding: 0;
}
.skip {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: -1000em;
}
body {
  letter-spacing: -0.2px;
  word-break: keep-all;
}
caption {
  display: none;
}
textarea {
  resize: none;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-size: 10px 10px;
}
.clear {
  clear: both !important;
}

/* 상단메뉴 */
.header {
  width: 100%;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  display: -ms-flexbox;
  top: 0;
}
.header .container {
  height: 80px;
  display: flex;
  align-items: center;
  position: relative;
}
.header .logo {
  margin-right: auto;
}
.header .logo a {
  width: 151px;
  height: 25px;
  background-size: contain;
  display: block;
}
.header .gnb > ul {
  margin: 0;
  text-align: center;
  position: relative;
}
.header .gnb > ul > li {
  display: inline-block;
  position: relative;
}
.header .gnb > ul > li > a {
  margin: 0;
  padding: 0;
  line-height: 60px;
  font-size: 1.063rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: -0.2px;
  display: inline-block;
}
.header .gnb > ul > li + li {
  margin-left: 1.6rem;
}
.header .gnb > ul > li > a > span {
  position: relative;
}
.header .gnb > ul > li > a > span:after {
  width: 100%;
  height: 2px;
  content: "";
  background-color: #05aeb7;
  display: block;
  position: absolute;
  top: 32px;
  transform: scale3d(0, 1, 1);
  transform-origin: center center;
  transition: transform 0.3s;
}
.header .gnb > ul > li > a:hover {
  text-decoration: none;
}
.header .gnb > ul > li > a:hover > span {
  color: #05aeb7;
  transition-duration: 250ms;
}
.header .gnb > ul > li > a:hover > span:after,
.header .gnb > ul > li.active > a > span:after {
  transform: scale3d(1, 1, 1);
}
.header .gnb > ul > li.active > a,
.header .gnb > ul > li > a:hover {
  color: #05aeb7;
  text-decoration: none;
}
.header .utility {
  margin-left: auto;
  display: flex;
  align-items: center;
}
.header .utility .btn {
  padding: 0.26rem 1.3rem;
  font-size: 0.875rem;
}
.header .utility .btn + .btn {
  margin-left: 0.3rem;
}
.header .utility .dropdown-toggle .avatar {
  width: 30px;
  height: 30px;
  border-radius: 60px;
  overflow: hidden;
  display: block;
}
.header .utility .dropdown-toggle .avatar:hover {
  -webkit-box-shadow: 0 0 0 0.15rem rgba(5, 173, 182, 0.2);
  box-shadow: 0 0 0 0.15rem rgba(5, 173, 182, 0.2);
  transition-duration: 250ms;
}
.header .utility .dropdown-toggle .avatar:focus {
  -webkit-box-shadow: 0 0 0 0.15rem rgba(5, 173, 182, 0.3);
  box-shadow: 0 0 0 0.15rem rgba(5, 173, 182, 0.3);
}
.header .utility .dropdown-toggle .avatar img {
  width: 100%;
  height: 100%;
}
.header .utility .notification {
  margin-right: 5px;
}
.header .utility .notification .dropdown-toggle {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header .utility .notification .dropdown-toggle:before {
  width: 26px;
  height: 26px;
  content: "";
  background: url("../images/bell.png") top left no-repeat;
  background-size: auto 26px;
  display: block;
}
.header .utility .notification .dropdown-toggle:hover:before {
  background-position: -27px 0;
}
.header .utility .notification .new {
  width: 8px;
  height: 8px;
  background-color: #ff4f38;
  border-radius: 20px;
  display: block;
  position: absolute;
  right: 10px;
  top: 10px;
}
.header .utility .notification .head {
  padding: 0.35rem 1.5rem 0.5rem 1.5rem;
  border-bottom: 1px solid #d9d9d9;
  display: flex;
  align-items: center;
}
.header .utility .notification .head .tit {
  margin-right: auto;
  font-size: 1rem;
  font-weight: 500;
  color: #222;
}
.header .utility .notification .head a {
  padding: 5px;
  font-size: 0.75rem;
}
.header .utility .notification .dropdown-menu {
  width: 350px;
}
.header .utility .notification .noti-list {
  max-height: 420px;
  display: flex;
  flex-direction: column;
}
.header .utility .notification .noti-list .notify-item {
  padding: 0.7rem 1.5rem;
  border-bottom: 1px solid #e7e7e7;
  display: flex;
  flex-direction: column;
}
.header .utility .notification .noti-list .notify-item:hover {
  background-color: #f8f9fa;
  transition-duration: 250ms;
}
.header .utility .notification .noti-list .notify-item .cate {
  margin-bottom: 5px;
  font-size: 0.75rem;
  color: #05aeb7;
}
.header .utility .notification .noti-list .notify-item strong {
  margin-bottom: 5px;
  color: #222;
  font-weight: normal;
  line-height: 1.27;
}
.header .utility .notification .noti-list .notify-item .time {
  font-size: 0.75rem;
  color: #999;
}
.header .utility .notification .noti-list .notify-all {
  color: #444;
  font-weight: 500;
  text-align: center;
}
.header .utility .notification .noti-list .notify-all:hover {
  color: #05aeb7;
  transition-duration: 250ms;
}
.header .utility .welcome {
  width: 100px;
  margin-right: 5px;
  font-size: 0.75rem;
  color: #89a2a4;
  line-height: 1.2;
  text-align: right;
  word-break: break-all;
}

.hamburger {
  width: 45px;
  height: 45px; /*margin-left: auto;*/
  padding: 14px 10px;
  box-sizing: border-box;
  cursor: pointer;
  display: none;
}
.hamburger div {
  align-self: flex-end;
  height: 2px;
  width: 100%;
  margin-bottom: 6px;
  background: #444;
}
.hamburger .meat {
  width: 75%;
  transition: all 200ms ease-in-out;
}
.hamburger .bottom-bun {
  width: 100%;
  transition: all 400ms ease-in-out;
}
.hamburger:hover div {
  width: 100%;
}
.hamburger:hover .top-bun {
  animation: burger-hover 1s infinite ease-in-out alternate;
}
.hamburger:hover .meat {
  animation: burger-hover 1s infinite ease-in-out alternate forwards 200ms;
}
.hamburger:hover .bottom-bun {
  animation: burger-hover 1s infinite ease-in-out alternate forwards 400ms;
}
@keyframes burger-hover {
  0% {
    width: 100%;
  }
  50% {
    width: 50%;
  }
  100% {
    width: 100%;
  }
}

/* 모바일 메뉴 */
.m-nav {
  width: 75%;
  height: 100%;
  max-width: 300px;
  padding: 2rem 1.5rem;
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -1000px;
  z-index: 9999;
  transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
}
.m-nav.active {
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 10000;
}
.m-nav > .head .nav-close {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -14px;
}
.m-nav > .head .nav-close span {
  width: 20px;
  height: 20px;
  background-color: transparent;
  display: block;
  position: relative;
}
.m-nav > .head .nav-close span:before,
.m-nav > .head .nav-close span:after {
  width: 20px;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  display: block;
  position: absolute;
  top: 9px;
}
.m-nav > .head .nav-close span:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.m-nav > .head .nav-close span:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
.m-nav > .head {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.m-nav > .head {
  width: 100%;
  position: relative;
}
.m-nav > .head .logo {
  width: 127px;
  height: 21px;
  background-size: contain;
  display: block;
}
.m-nav > .utility {
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #d9d9d9;
}
.m-nav > .utility .btn + .btn {
  margin-left: 0.3rem;
}
.m-nav > .utility .user-info {
  margin: 1rem auto 0 0;
  display: flex;
  align-items: center;
}
.m-nav > .utility .user-info .avatar {
  width: 30px;
  height: 30px;
  min-width: 30px;
  min-height: 30px;
  margin-right: 0.7rem;
  border-radius: 60px;
  overflow: hidden;
}
.m-nav > .utility .user-info .avatar img {
  width: 100%;
  height: 100%;
}
.m-nav > .utility .user-info ul {
  margin: 0;
}
.m-nav > .utility .user-info ul li {
  color: #757575;
  line-height: 1.1;
  word-break: break-all;
}
.m-nav > .utility .user-info ul li:nth-child(1) {
  font-size: 0.875rem;
  font-weight: 600;
}
.m-nav > .utility .user-info ul li:nth-child(2) {
  margin-top: 5px;
  font-size: 0.75rem;
}
.m-nav > .gnb > ul {
  margin: 0;
  padding: 0.3rem 0;
  /* border-top: 1px solid #d9d9d9; */
  border-bottom: 1px solid #d9d9d9;
}
.m-nav > .gnb > ul > li > a {
  height: 48px;
  line-height: 48px; /*padding: .813rem 0;*/
  font-size: 1rem;
  letter-spacing: -0.2px;
  font-weight: 600;
  text-decoration: none;
  display: block;
  position: relative;
}
.m-nav > .gnb > ul > li:last-child > a {
  border-bottom: none;
}
.m-nav > .gnb > ol {
  margin-top: 1rem;
}
.m-nav > .gnb > ol > li {
  padding: 0.6rem 0;
  font-size: 0.875rem;
}
.m-nav > .gnb > ol > li .logout {
  color: #999;
}
.nav-overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  position: fixed;
  top: 0;
  z-index: 9998;
  cursor: pointer;
}

/* 하단영역 */
.footer {
  width: 100%;
  margin-top: 4rem;
  padding: 2.5rem 0;
  border-top: 1px solid #e9e9e9;
  word-break: keep-all;
  clear: both;
  display: flex;
}
.footer .container {
  display: flex;
  justify-content: space-between;
}
.footer .copyright {
  display: flex;
}
.footer .copyright .logo {
  width: 151px;
  height: 25px;
  margin: 0 2.3rem 0 0;
  background: url("../images/footer_logo.png") top left no-repeat;
  background-size: contain;
  display: block;
}
.footer .copyright .wrap {
  color: #737373;
  font-size: 0.75rem;
}
.footer .copyright .wrap ul li {
  display: inline-block;
}
.footer .copyright .wrap ul li + li {
  margin-left: 1.3rem;
}
.footer .copyright .wrap .company-info p {
  margin: 0.7rem 0 0 0;
}
.footer .customer {
  margin: 0 0 0 2.5rem;
}
.footer .customer .tit {
  color: #737373;
  font-size: 0.75rem;
}
.footer .customer .phone {
  color: #05aeb7;
  font-size: 1.25rem;
  letter-spacing: 0;
}
.footer .customer .time {
  margin-top: 0.3rem;
  color: #737373;
  font-size: 0.75rem;
}

/* 서브페이지 프레임 */
.page-tit h3 {
  margin: 3rem 0 1.5rem 0;
  font-size: 1.5rem;
  font-weight: 600;
  display: flex;
  justify-content: left;
}
.page-tit-center {
  margin: 6rem 0 3rem;
  text-align: center;
  font-size: 1.625rem;
  letter-spacing: -0.3px;
  display: block;
}
.contents {
  margin: 3rem 0 0 0;
}

/* 모달 */
.modal-content {
  background-clip: border-box;
  border: none;
  -webkit-box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 4px 0 10px 0 rgba(0, 0, 0, 0.4);
}
.modal-header .modal-title {
  font-size: 1rem;
}
.modal-header .close {
  width: 49px;
  height: 49px;
  background-color: transparent;
  display: inline-block;
  float: left;
  position: relative;
  right: 0;
}
.modal-header .close span {
  display: none;
}
.modal-header .close,
.modal-header .close:hover {
  color: #fff;
  position: relative;
  top: 4px;
}
.modal-header .close:before,
.modal-header .close:after {
  width: 20px;
  height: 1px;
  content: "";
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 24px;
  right: 13px;
}
.modal-header .close:before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
}
.modal-header .close:after {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
}
.modal-content .action-btn-group {
  margin-top: 1.5rem;
}
.modal-content .action-btn-group .center .btn {
  padding: 0.9rem 1.8rem;
  font-size: 1rem;
  line-height: 1.5;
}
.alert-ment {
  margin: 0 0 27px 0;
  font-size: 1rem;
  text-align: center;
  position: relative;
}
.alert-ment:before {
  margin: 0 auto;
  font-family: unicons;
  font-size: 2.5rem;
  display: block;
  position: relative;
}
.alert-ment.save:before {
  content: "\ea14";
  color: #f88b2e;
}
.alert-ment.warning:before {
  content: "\e9c2";
  color: #e65d51;
}
.alert-ment.success:before {
  content: "\e8d6";
  color: #3abc74;
}
.alert-ment.info:before {
  content: "\ea72";
  color: #3ba3e7;
}
.alert-ment.blank {
  padding: 3rem 0 2.5rem 0;
}

/* 파일첨부 */
.file-upload {
  display: flex;
  align-items: center;
  justify-content: center;
}
.file-upload label {
  width: 130px;
  margin: 0 0 0 0.7rem;
  padding: 0.7rem 1.3rem;
  background-color: #fff;
  border: 1px solid #89a2a4;
  border-radius: 0.3rem;
  line-height: 1.5;
  color: #89a2a4;
  text-align: center;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  overflow: hidden;
}
.file-upload label:hover {
  color: #89a2a4;
  background-color: #f7f9f9;
  border-color: #89a2a4;
  transition-duration: 250ms;
}
.file-upload label input {
  width: 0;
  height: 0;
  position: absolute;
  overflow: hidden;
}
.file-upload input[type="text"] {
  width: 100%;
  height: calc(1.5em + 1.5rem);
  padding: 0.2rem 0.55rem 0.2rem 0.55rem;
  border: 1px solid #cbcbcb;
  border-radius: 0.3rem;
  line-height: 1.5;
  vertical-align: middle;
  display: inline-block;
}
.upload-file {
  margin: 10px 0 0 0;
  padding: 0;
  clear: both;
}
.upload-file li {
  padding: 0 0 0 20px;
  color: #999;
  line-height: 1.4;
  font-weight: normal;
  display: flex;
  align-items: center;
  position: relative;
}
.upload-file li + li {
  margin: 3px 0 0 0;
}
.upload-file li:before {
  content: "\ea9f";
  font-family: unicons;
  margin-right: 5px;
  color: rgba(96, 114, 115, 0.6);
  display: inline-block;
  position: absolute;
  left: 0;
}
.upload-file li .byte {
  margin-left: 5px;
  color: #ccc;
}
.upload-file .del {
  margin-left: 5px;
  padding: 0.3rem 0.5rem;
  color: #05adb6;
  display: inline-block;
}
.upload-file .del:hover {
  text-decoration: underline !important;
}

/* 로딩중 */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
.loading {
  box-sizing: border-box;
  text-align: center;
  position: relative;
}
.loading img {
  width: 110px;
  margin: 0 auto;
}
.loading p {
  margin-top: 2.5rem;
  font-size: 1.125rem;
  color: #444b54;
}
.loading .spinner {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border-bottom-color: #444b54;
  border-top-color: #444b54;
  animation: spinner 800ms ease infinite;
}

/* top 버튼 */
.scrollup {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-color: #6a7d7e;
  display: none;
  position: fixed;
  bottom: 22px;
  right: 20px;
  opacity: 0.3;
  z-index: 403;
}
.scrollup:before {
  content: "\e850";
  font-family: unicons;
  color: #fff;
  font-size: 2rem;
  display: inline-block;
  position: absolute;
  top: -4px;
  left: 4px;
}

/* 버튼, 폼 관련 엘리먼트 */
.btn i {
  margin-right: 3px;
}
.w-xs {
  width: 60px;
}
.w-sm {
  width: 80px;
}
.w-md {
  width: 130px;
}
.w-lg {
  width: 230px;
}
.w-xl {
  width: 500px;
}
.w-full {
  width: 100%;
}
.min-w {
  min-width: 180px;
}

.btn-outline-primary.disabled,
.btn-outline-primary:disabled {
  border-color: #95acae;
  color: #95acae;
}
.custom-control + .custom-control {
  margin-left: 1rem;
}
.check-lg {
  padding-left: 0;
  font-size: 1rem;
}
.check-lg .custom-control-label {
  min-height: 22px;
  padding: 1px 0 1px 31px;
}
.check-lg .custom-control-label::before {
  width: 22px;
  height: 22px;
  top: 2px;
  left: 0;
}
.check-lg .custom-control-label::after {
  top: 9px;
  left: -6px;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  width: 7px;
  height: 5px;
  content: "";
  background-image: none;
  border-bottom: 1.5px solid #f1f1f1;
  border-left: 1.5px solid #f1f1f1;
  position: absolute;
  top: 6px;
  left: -20px;
  transform: rotate(-45deg);
}
.custom-checkbox.check-lg
  .custom-control-input:checked
  ~ .custom-control-label::after {
  width: 10px;
  height: 7px;
  content: "";
  background-image: none;
  border-bottom: 1.6px solid #f1f1f1;
  border-left: 1.6px solid #f1f1f1;
  position: absolute;
  top: 7px;
  left: 6px;
  transform: rotate(-45deg);
}
.custom-radio .custom-control-label {
  padding: 0 0 0 21px;
}
.radio-lg {
  padding-left: 0;
  font-size: 1rem;
}
.radio-lg .custom-control-label {
  padding: 0 0 0 31px;
}
.radio-lg .custom-control-label::before {
  width: 22px;
  height: 22px;
  top: 2px;
  left: 0;
}
.radio-lg .custom-control-label::after {
  width: 14px;
  height: 14px;
  top: 6px;
  left: 4px;
}
.radio-lg + .radio-lg {
  margin-left: 1.2rem;
}
.custom-switch-lg {
  min-height: 2.3rem;
}
.custom-switch-lg .custom-control-label::before {
  width: 3.5rem;
  height: 2rem;
  border-radius: 4rem;
  left: -3.5rem;
}
.custom-switch-lg .custom-control-label::after {
  width: calc(2rem - 4px);
  height: calc(2rem - 4px);
  border-radius: 4rem;
  left: calc(-3.5rem + 2px);
}
.custom-switch-lg .custom-control-input:checked ~ .custom-control-label::after {
  -webkit-transform: translateX(1.5rem);
  transform: translateX(1.5rem);
}
.form-control.invalid {
  border-color: #ff4f38 !important;
}
.card {
  box-shadow: none;
}

.action-btn-group {
  display: flex;
  justify-content: center;
}
.action-btn-group .center,
.action-btn-group .left,
.action-btn-group .right {
  display: flex;
}
.action-btn-group .btn + .btn {
  margin-left: 0.5rem;
}
.action-btn-group .left {
  margin-right: auto;
}
.action-btn-group .right {
  margin-left: auto;
}

/* 툴팁 컬러 변경 */
.bs-tooltip-auto[x-placement^="top"] .arrow::before,
.bs-tooltip-top .arrow::before {
  border-top-color: rgba(43, 48, 48, 0.9);
}
.bs-tooltip-auto[x-placement^="right"] .arrow::before,
.bs-tooltip-right .arrow::before {
  border-right-color: rgba(43, 48, 48, 0.9);
}
.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  border-bottom-color: rgba(43, 48, 48, 0.9);
}
.bs-tooltip-auto[x-placement^="left"] .arrow::before,
.bs-tooltip-left .arrow::before {
  border-left-color: rgba(43, 48, 48, 0.9);
}
.tooltip-inner {
  background-color: rgba(43, 48, 48, 0.9);
  font-size: 0.75rem;
  line-height: 1.2;
}

/* 텍스트 */
.unline {
  text-decoration: underline;
}
.ment {
  margin: 7px 0 0 0;
  padding: 0px 0 0 16px;
  color: #999999;
  font-size: 0.75rem;
  line-height: 1.3;
  display: inline-block;
  position: relative;
}
.ment:before {
  margin-right: 4px;
  content: "\ea72";
  font-family: unicons;
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 0;
}
.ment.text-danger:before {
  content: "\e9c2";
  font-family: unicons;
  margin: 0 3px 0 0;
  display: inline-block;
}
.ment.text-success:before {
  content: "\e8d6";
  font-family: unicons;
  margin: 0 3px 0 0;
  display: inline-block;
}
.ment .dot-list > li {
  padding: 0 0 0 5px;
}
.ment .dot-list > li:before {
  top: 7px;
}
.ment .dot-list > li + li {
  margin-top: 2px;
}
.mark,
mark {
  padding: 0 0.2em;
  background-color: #f9f4dc;
}

/* 목록 스타일 */
.dot-list li {
  padding: 0 0 0 8px;
  line-height: 1.45;
  position: relative;
}
.dot-list li:before {
  width: 3px;
  height: 3px;
  content: "";
  background-color: rgba(0, 0, 0, 0.8);
  display: block;
  position: absolute;
  top: 10px;
  left: 0;
}
.dot-list li + li {
  margin-top: 0.25rem;
}
.dot-list li ul {
  margin-left: 2px;
  padding-top: 0.2rem;
}
.decimal-list {
  padding-left: 1rem !important;
  list-style-type: decimal;
  list-style-position: outside;
}
.decimal-list li {
  line-height: 1.4;
}
.decimal-list li + li {
  margin-top: 0.25rem;
}

/* 테이블 - 세로 */
.col-table table colgroup {
  display: table-column-group;
}
.col-table table thead tr th,
.col-table table tbody tr td {
  padding: 0.5rem;
  text-align: center;
  border-bottom: 1px solid #d9d9d9;
}
.col-table table thead tr th:last-child,
.col-table table tbody tr td:last-child {
  border-right: none;
}
.col-table table tr *[rowspan] {
  border-left: 1px solid #d9d9d9;
}
.col-table table tr *[rowspan]:first-child {
  border-left: none;
}
.col-table table thead tr th {
  padding: 0.4rem 0.5rem;
  text-align: center;
  background-color: #f7f7f7;
  font-weight: 500;
}
.col-table table tbody tr td a {
  text-decoration: none;
}
.col-table table tbody tr td a:hover {
  color: #2775c4 !important;
  text-decoration: underline !important;
}
.col-table.left table tbody tr td {
  text-align: left;
}
.col-table.line table thead tr th,
.col-table.line table tbody tr td {
  border: 1px solid #d9d9d9;
  border-width: 0 1px 1px 0;
}
.col-table.line table thead tr th:last-child,
.col-table.line table tbody tr td:last-child {
  border-right: none;
}

/* 테이블 - 가로 */
.row-table {
  margin-bottom: 20px;
  border-top: 1px solid #d9d9d9;
}
.row-table table th,
.row-table table td {
  padding: 0.4rem 0.5rem;
  text-align: left;
  vertical-align: top;
  border: 1px solid #d9d9d9;
  border-width: 0 0 1px 0;
}
.row-table table th {
  padding: 0.4rem 0.5rem;
  border-right: 1px solid #d9d9d9;
  text-align: center;
  background-color: #f7f7f7;
  font-weight: 500;
}
.row-table table th label {
  margin-bottom: 0;
  font-weight: 500;
}
.row-table table th .uil-check {
  margin-left: 1px;
  color: #fd5451;
}
.row-table table td .form-group {
  margin-bottom: 0;
}
.row-table table td.align-middle {
  vertical-align: middle;
}
.row-table table th:last-child,
.row-table table td:last-child {
  padding-right: 0;
}
.row-table table .custom-control {
  margin-right: 0.7rem;
  display: inline-block;
}

/* 커스텀 검색 폼, 라디오 버튼 선택 목록 */
.custom-search {
  display: flex;
}
.custom-search .flex {
  flex: 1;
  position: relative;
}
.custom-search > .form-control + * {
  margin-left: 0.7rem;
}
.custom-search .form-control {
  padding-right: 48px;
}
.custom-search .btn {
  width: 48px;
  height: 45px;
  margin-left: -4px;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}
.custom-search .btn:active,
.custom-search .btn:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.custom-search .btn:before {
  content: "\eb63";
  font-family: unicons;
  font-size: 1.75rem;
  color: #05adb6;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 8px;
}
.custom-search .btn:hover:before {
  color: #049ba2;
}
.radio-list {
  margin: 1.5rem 0;
  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;
}
.radio-list ul {
  margin: 0;
  padding: 0.5rem 0;
}
.radio-list ul li {
  padding: 0.3rem 0;
  display: block;
}
.radio-list ul li:hover .custom-control-label {
  text-decoration: underline;
  transition-duration: 250ms;
}
.radio-list ul li .custom-control-label span {
  margin-left: 8px;
  color: #757575;
  font-size: 0.75rem;
}
.radio-list ul li .none {
  padding: 5rem 0;
  text-align: center;
}

/* 페이지넘버 */
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pagination ul {
  margin: 0;
}
.pagination ul li {
  vertical-align: middle;
  display: inline-block;
}
.pagination ul li a {
  width: 32px;
  height: 36px;
  color: #444444;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.pagination ul li a span {
  position: relative;
  top: -1px;
}
.pagination ul li.first a,
.pagination ul li.prev a,
.pagination ul li.next a,
.pagination ul li.last a {
  width: 36px;
  height: 36px;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIEAAAAgCAYAAAA14BsbAAACN0lEQVR42u2YO0tcURSFB0cLgw6oYBMQHREFFR+ksLBRsRkQH/iC2AjzDyxEwUFF0lilkAgiio2ghYiFYBGCSWOR4KtR7PwjWRvWhVGw072nWAs+7t1TzN5nnX3POfemUpIkSZIkSZIkSZIkSZL0XioUCs1GUfwFlDnX0AKaHPN9Ar0BXpeZv295H9kEQ4khuKbBpF2daxgGXY75MjbOAK9f+Gu+m//RDTADbkEb42Ow57kSINccuAadzk1wAn4ErATm7zHjNvo/E9UA0+AGtDI+ADvONSQN0BIw/nI2wveA3DvmN+9bOQ/T3kWMsAPbGR+CfecaJtgAHcGr4SnYCsi7b77zvp3zMeK1J42Bf6CRv22B3YBVyGpoKIEzUQW3wbWAs9Bu0oA2H/Rk7EPrwJ9vgGeQZbwNLpwH3scaPpfYW9JfsB6Q98LmgfdZerPxkQkHuQ8uMc6B36DHcdDW8WdgoYQawHz5Awac8/bQ/xzjJc7PoMfJ+CdYeXVA9Dyd14FLsFgCDTAA7gIaoLP4QGjzwXnJeBVQDa7AKuNx8Oh5SEOuWi7By4EN0A+eAhqgg36PM17lfFR7G2Arwi+wyXgU3NuHG8caargMfwOVzuOfAg/WCM55h+nzKONNzkMm6kmwp/E8MQLXeb66pB1rqGcNfY45q8BRshc75k3T3/milcjGXhu9J86C7qLVIW8fUpxr+Op8JrHtMB/0gSqfPPXmu/mfkiRJkiRJkiRJkiRJkiRJejf9B+wwj/nSrCVlAAAAAElFTkSuQmCC")
    top left no-repeat;
  position: relative;
}
.pagination ul li.first a:hover,
.pagination ul li.prev a:hover,
.pagination ul li.next a:hover,
.pagination ul li.last a:hover {
  background-color: #f8f9fa;
  border-radius: 50px;
  transition-duration: 250ms;
}
.pagination ul li.first a:before,
.pagination ul li.prev a:before,
.pagination ul li.next a:before,
.pagination ul li.last a:before {
  font-family: unicons;
  color: #bbb;
  display: inline-block;
  position: absolute;
}
.pagination .active > a,
.pagination .active > a:focus,
.pagination .active > a:hover,
.pagination .active > span,
.pagination .active > span:focus,
.pagination .active > span:hover {
  color: #04889d;
  font-weight: 600;
  cursor: default;
}
.pagination ul li a:focus,
.pagination li a:hover {
  background-color: #f8f9fa;
  border-radius: 50px;
  transition-duration: 250ms;
}
.pagination ul li.first a {
  background-position: 1px 1px;
}
.pagination ul li.prev a {
  background-position: -31px 1px;
}
.pagination ul li.next a {
  background-position: -63px 1px;
}
.pagination ul li.last a {
  background-position: -95px 1px;
}
.pagination .m-num {
  display: none;
}
.pagination .m-num .page-mark {
  position: relative;
  height: 36px;
  padding: 6px 15px;
  line-height: 1.42857143;
  text-decoration: none;
  vertical-align: top;
}
.pagination .m-num .page-mark em {
  font-style: normal;
  font-weight: 500;
  color: #04889d;
  font-weight: 600;
  cursor: default;
}
.pagination .m-num .page-mark em:after {
  content: "/";
  padding: 0 7px;
  color: #bbb;
}

/* 탭 */
.nav-tabs {
  border-bottom: 1px solid #05aeb7;
}
.nav-tabs li a {
  padding: 12px 20px 10px 20px;
  font-size: 1rem;
  color: #888;
  position: relative;
}
.nav-tabs li a.active {
  border-bottom: none !important;
  border-color: #05aeb7 #05aeb7 #fff !important;
  border-top-left-radius: 0.7rem;
  border-top-right-radius: 0.7rem;
}
.nav-tabs li a.active:before {
  width: 100%;
  height: 2px;
  content: "";
  background-color: #fff;
  display: block;
  position: absolute;
  bottom: -1px;
  left: 0;
}
.nav-tabs li a:hover {
  color: #165a5e;
  transition-duration: 250ms;
}
.nav-tabs li a:hover .badge {
  background-color: #165a5e;
}
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  background-color: transparent;
  color: #05aeb7;
}
.nav-link .badge {
  margin-left: 8px;
  background-color: #999999;
  border-radius: 50px;
  color: #fff;
}
.nav-link.active .badge,
.nav-link.active:hover .badge {
  background-color: #05aeb7;
}

/* Lightbox */
.ekko-lightbox {
  display: flex !important;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-right: 0 !important;
}
.ekko-lightbox-container {
  position: relative;
}
.ekko-lightbox-container > div.ekko-lightbox-item {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}
.ekko-lightbox iframe {
  width: 100%;
  height: 100%;
}
.ekko-lightbox-nav-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
}
.ekko-lightbox-nav-overlay a {
  -ms-flex: 1;
  flex: 1;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.65;
  transition: opacity 0.5s;
  color: #fff;
  font-size: 30px;
  z-index: 1;
}
.ekko-lightbox-nav-overlay a > * {
  -ms-flex-positive: 1;
  flex-grow: 1;
}
.ekko-lightbox-nav-overlay a span {
  padding: 0 30px;
}
.ekko-lightbox-nav-overlay a:last-child span {
  text-align: right;
}
.ekko-lightbox-nav-overlay a:hover {
  text-decoration: none;
  opacity: 1;
  transition-duration: 250ms;
}
.ekko-lightbox-nav-overlay a.disabled {
  cursor: default;
  visibility: hidden;
}
.ekko-lightbox a:hover {
  opacity: 1;
  text-decoration: none;
}
.ekko-lightbox .modal-dialog {
  width: 700px;
  display: none;
}
.ekko-lightbox .modal-footer {
  text-align: left;
}
.ekko-lightbox-loader {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center;
}
.ekko-lightbox-loader > div {
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
}
.ekko-lightbox-loader > div > div {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  animation: a 2s infinite ease-in-out;
}
.ekko-lightbox-loader > div > div:last-child {
  animation-delay: -1s;
}
.modal-dialog .ekko-lightbox-loader > div > div {
  background-color: #333;
}
.ekko-lightbox-nav-overlay a > :focus,
.ekko-lightbox-nav-overlay a:focus {
  outline: none;
}
.ekko-lightbox-nav-overlay a:before {
  width: 32px;
  height: 32px;
  content: "";
  background-image: url("../images/slider_arrow_w.png");
  background-size: cover;
  display: inline-block;
}
.ekko-lightbox-nav-overlay a:nth-child(2):before {
  transform: rotate(180deg);
}
.ekko-lightbox-nav-overlay a:nth-child(1) {
  padding-left: 10px;
  justify-content: flex-start;
}
.ekko-lightbox-nav-overlay a:nth-child(2) {
  padding-right: 10px;
  justify-content: flex-end;
}

/* 게시판 상단 검색 */
.post-search {
  display: flex;
}
.post-search select {
  width: 100px;
}
.post-search > * {
  display: inline-block;
}
.post-search > * + * {
  margin-left: 5px;
}
.post-search .wrap {
  position: relative;
}
.post-search .wrap .form-control {
  padding-right: 44px;
}
.post-search .wrap .btn {
  width: 48px;
  height: 45px;
  background-color: transparent;
  border-color: transparent;
  color: transparent;
  overflow: hidden;
  display: inline-block;
  position: absolute;
  top: -1px;
  right: 0;
}
.post-search .wrap .btn:active,
.post-search .wrap .btn:focus {
  background-color: transparent !important;
  border-color: transparent !important;
  box-shadow: none !important;
}
.post-search .wrap .btn:before {
  content: "\eb63";
  font-family: unicons;
  font-size: 1.5rem;
  color: #05adb6;
  display: inline-block;
  position: absolute;
  top: 4px;
  left: 11px;
}
.post-search .wrap .btn:hover:before {
  color: #049ba2;
}

/* 게시판 목록 */
.board-list {
  margin-bottom: 1rem;
  border-top: 2px solid #3c3c3c;
}
.board-list .num {
  width: 80px;
}
.board-list .subject {
  width: auto;
}
.board-list .writer {
  width: 110px;
}
.board-list .date {
  width: 125px;
}
.board-list tr {
  border-top: 1px solid #cecfd3;
}
.board-list th {
  padding: 1rem 0.75rem;
}
.board-list thead th {
  border-right: none;
  text-align: center;
  color: #6a7d7e;
  font-weight: 500;
  vertical-align: middle;
}
.board-list td {
  padding: 1.125rem 0.75rem;
  border-bottom: 1px solid #e7e7e7;
  font-size: 1rem;
  text-align: center;
  vertical-align: middle;
}
.board-list td.subject {
  text-align: left;
  position: relative;
}
.board-list td.subject .badge {
  margin-right: 7px;
  font-size: 0.75rem;
}
.board-list td.subject a strong {
  font-weight: 500;
  line-height: 1.3;
  display: inline-block;
  position: relative;
}
.board-list td.subject a strong:hover {
  text-decoration: underline !important;
}
.board-list td.subject a + i {
  margin-left: 4px;
}
.board-list td.subject i {
  margin-left: 2px;
  color: #a7a7a7;
  font-size: 0.875rem;
  position: relative;
  top: -1px;
}
.board-list td.subject a em {
  margin-right: 5px;
  color: #89a2a4;
  font-size: 0.875rem;
  font-style: normal;
  position: relative;
  top: -1px;
}
.board-list td .none {
  width: 100%;
  padding: 4rem 0;
  color: #bbbbbb;
  font-size: 1rem;
  text-align: center;
}
.board-list .fixed {
  background-color: #f6f7f9;
}
.board-list .fixed td.subject a strong {
  color: #05aeb7;
}
.board-list .fixed .num .badge {
  background-color: transparent;
  border: 1px solid #05adb6;
  color: #05adb6;
  font-size: 0.75rem;
}
.board-list + .pagination {
  margin-top: 2rem;
}

/* 게시판 읽기 */
.board-view {
  margin: 3rem 0;
  border-top: 2px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.board-view .head {
  padding: 1.7rem 1rem;
  border-bottom: 1px solid #e7e7e7;
}
.board-view .head .subject {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 500;
  text-align: center;
  display: block;
}
.board-view .head .info {
  margin: 0.5rem 0 0 0;
  padding: 0;
  text-align: center;
}
.board-view .head .info li {
  margin: 0;
  padding: 0;
  color: #999999;
  font-size: 0.875rem;
  display: inline-block;
}
.board-view .head .info li strong {
  margin-right: 7px;
  font-weight: normal;
}
.board-view .head .info li:after {
  width: 1px;
  height: 12px;
  margin: 0 8px 0 10px;
  content: "";
  background-color: #e7e7e7;
  display: inline-block;
  position: relative;
  top: 1px;
}
.board-view .head .info li:last-child:after {
  display: none;
}
.board-view .content {
  min-height: 200px;
  padding: 1.7rem 1rem;
  font-size: 1rem;
  line-height: 1.6;
}
.board-view .content .table {
  margin: 17px 0;
  border-bottom: 1px solid #e7e7e7;
}
.board-view .content .table td,
.board-view .content .table th {
  padding: 0.4rem 0.8rem;
  text-align: center;
}
.board-view .content .table th {
  background-color: #f7f7f7;
  border-bottom: 1px solid #e7e7e7;
  font-weight: 500;
}
.board-view .content .table td:last-child,
.board-view .content .table th:last-child {
  border-right: 0;
}
.board-view .file {
  padding: 1rem;
  border-top: 1px solid #e7e7e7;
}
.board-view .file .tit {
  margin-bottom: 0.7rem;
  color: #89a2a4;
  font-weight: 500;
}
.board-view .file ul {
  margin: 0;
}
.board-view .file ul li {
  padding-left: 22px;
  text-align: left;
  position: relative;
}
.board-view .file ul li + li {
  margin: 5px 0 0 0;
}
.board-view .file ul li:before {
  content: "\ea9f";
  font-family: unicons;
  font-size: 1rem;
  color: #a7a7a7;
  display: block;
  position: absolute;
  left: 0;
}
.board-view .file ul li a:hover {
  text-decoration: underline !important;
}
.board-view .file ul li em {
  margin-left: 7px;
  color: #999999;
  font-size: 0.75rem;
  font-style: normal;
}

/* 게시판 작성 */
.board-write {
  margin: 3rem 0;
  padding: 1.7rem 1rem;
  border-top: 2px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.board-write .form-group:last-child {
  margin-bottom: 0;
}
.board-write .form-group .form-control {
  font-size: 1rem;
}
.board-write .form-group .tit {
  margin-bottom: 0.4rem;
  color: #89a2a4;
  position: relative;
}

/* 문의하기 */
.faq-view {
  margin: 3rem 0;
  border-top: 2px solid #3c3c3c;
  border-bottom: 1px solid #3c3c3c;
}
.faq-view .head {
  padding: 1.7rem 1rem;
  border-bottom: 1px solid #e7e7e7;
}
.faq-view .head .subject {
  font-size: 1.5rem;
  line-height: 1.3;
  font-weight: 500;
  display: block;
}
.faq-view .head .info {
  margin: 0.5rem 0 0 0;
  padding: 0;
}
.faq-view .head .info li {
  margin: 0;
  padding: 0;
  color: #999999;
  font-size: 0.875rem;
  display: inline-block;
}
.faq-view .head .info li strong {
  margin-right: 7px;
  font-weight: normal;
}
.faq-view .head .info li:after {
  width: 1px;
  height: 12px;
  margin: 0 8px 0 10px;
  content: "";
  background-color: #e7e7e7;
  display: inline-block;
  position: relative;
  top: 1px;
}
.faq-view .head .info li:last-child:after {
  display: none;
}
.faq-view .content {
  min-height: 200px;
  padding: 1.7rem 1rem;
  font-size: 1rem;
  line-height: 1.6;
}
.faq-view .question .file {
  padding: 1rem;
  border-top: 1px solid #e7e7e7;
}
.faq-view .answer .file {
  margin-top: 1.5rem;
  padding: 1rem 0 0 0;
  border-top: 1px solid #e7e7e7;
}
.faq-view .file .tit {
  margin-bottom: 0.7rem;
  color: #89a2a4;
  font-weight: 500;
}
.faq-view .file ul {
  margin: 0;
}
.faq-view .file ul li {
  padding-left: 22px;
  text-align: left;
  position: relative;
}
.faq-view .file ul li + li {
  margin: 5px 0 0 0;
}
.faq-view .file ul li:before {
  content: "\ea9f";
  font-family: unicons;
  font-size: 1rem;
  color: #a7a7a7;
  display: block;
  position: absolute;
  left: 0;
}
.faq-view .file ul li a:hover {
  text-decoration: underline;
}
.faq-view .file ul li em {
  margin-left: 7px;
  color: #999999;
  font-size: 0.75rem;
  font-style: normal;
}
.faq-view .question .head {
  display: flex;
}
.faq-view .question .head:before {
  width: 50px;
  margin-right: 1rem;
  content: "Q";
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  color: #05adb6;
}
.faq-view .answer {
  padding: 2.3rem 1rem;
  background-color: #f6f7f9;
  border-top: 1px solid #e7e7e7;
}
.faq-view .answer .flex {
  display: flex;
}
.faq-view .answer .flex:before {
  width: 50px;
  margin-right: 1rem;
  content: "A";
  font-size: 2rem;
  text-align: center;
  line-height: 1;
  color: #fc8949;
}
.faq-view .answer .wrap {
  width: 100%;
}
.faq-view .answer .wrap .comment {
  font-size: 1rem;
  line-height: 1.6;
}
.faq-view .answer .none {
  width: 100%;
  padding: 4rem 0;
  color: #bbbbbb;
  font-size: 1rem;
  text-align: center;
}
.faq-view .answer .write .form-group:last-child {
  margin-bottom: 0;
}
.faq-view .answer .write .action-btn-group {
  margin-top: 1.5rem;
}

/* ei 대응 */
@media screen and (min-width: 0\0) {
  .custom-search .flex {
    flex: auto;
    position: relative;
  }
}
